Repository jitendradp/ABIS-OS-Beta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, prisma, yoga, db

frontend:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd frontend
  - docker build . -t gdhami/frontend
  - docker push gdhami/frontend
  tags:
  - docker

prisma:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd prisma
  - docker build . -t gdhami/prisma
  - docker push gdhami/prisma
  tags:
  - docker

yoga:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd yoga-server
  - docker build . -t gdhami/yoga
  - docker push gdhami/yoga
  tags:
  - docker

db:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd db
  - docker build . -t gdhami/db
  - docker push gdhami/db
  tags:
  - docker

Build only if changed
  .gitlab-ci.yml
Due: frontend, prisma, yoga, db

changed all imports to generated/prisma_client in yoga
  yoga-server/src/api/mutations/entryApiMutations.ts
  yoga-server/src/api/mutations/roomApiMutations.ts
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/api/queries/commonQueries.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/api/queries/profiles/profileQueries.ts
  yoga-server/src/api/queries/user/userQueries.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/queries/entries.ts
  yoga-server/src/data/queries/group.ts
  yoga-server/src/helper/mailer.ts
  yoga-server/src/index.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/queries/getEntriesOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/queries.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/serverInit.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/services/events/newEntry.ts
  yoga-server/src/services/loginService.ts
  yoga-server/src/services/service.ts
  yoga-server/src/services/signupService.ts
  yoga-server/src/services/verifyEmailService.ts
  yoga-server/src/statements/agentCanDelete.ts
  yoga-server/src/statements/agentCanSee.ts
  yoga-server/src/utils.ts
Due: yoga

* load all singleton services from the dist/init/singletonServices directory
  frontend/src/app/pages/system/login/login.component.ts
  yoga-server/src/init.ts
  yoga-server/src/init/contentEncodings/continuation.ts
  yoga-server/src/init/contentEncodings/error.ts
  yoga-server/src/init/contentEncodings/geoJsonFeature.ts
  yoga-server/src/init/contentEncodings/login.ts
  yoga-server/src/init/contentEncodings/signup.ts
  yoga-server/src/init/contentEncodings/verifyEmail.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/services/agentHost.ts
  yoga-server/src/services/echoService.ts
  yoga-server/src/services/eventBroker.ts
Due: frontend, yoga

* re-wired the service-properties on init.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/services/eventBroker.ts
Due: yoga

consolidated the module loading in init.ts
  frontend/src/app/pages/map/map.component.ts
  yoga-server/src/init.ts
Due: frontend, yoga

intermediate check-in
  yoga-server/src/init.ts
Due: yoga

merged: "dev" -> "master"
  frontend/src/app/cards/card-profile/card-profile.component.html
  frontend/src/app/dialogs/switch-profile/switch-profile.component.html
Due: frontend

merged: "dev" -> "master"
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/services/profileService.ts
  yoga-server/src/services/service.ts
Due: yoga

added integration tests for: createSession and signUp
  yoga-server/package-lock.json
  yoga-server/package.json
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

Solved the deployment sequence problem with wait-fo-it.sh
  build-docker-images.sh
  frontend/Dockerfile
  frontend/wait-for-it.sh
  prisma/Dockerfile
  prisma/wait-for-it.sh
  run.sh
  yoga-server/Dockerfile
  yoga-server/wait-for-it.sh
Due: frontend, prisma, yoga

Fixed some errors in deployment sequence problem with wait-fo-it.sh
  docker-compose.yml
  frontend/Dockerfile
  frontend/wait-for-it.sh
  prisma/wait-for-it.sh
  yoga-server/Dockerfile
Due: frontend, prisma, yoga

Fixed error in Frontend Dockerfile for deployment sequence problem with wait-fo-it.sh
  frontend/Dockerfile
Due: frontend

Added bash to nginx deployment of frontend with wait-fo-it.sh
  frontend/Dockerfile
  yoga-server/Dockerfile
Due: frontend, yoga

Minor fix for nginx argument off
  frontend/Dockerfile
Due: frontend

Minor deployment fixes
  frontend/Dockerfile
  yoga-server/Dockerfile
Due: frontend, yoga

Minor deployment fixes
  frontend/Dockerfile
Due: frontend

ccheck
  prisma/generated/prisma-client/index.ts
  prisma/generated/prisma-client/prisma-schema.ts
Due: prisma

Some minor changes docker-compose.yml for local deployment
  docker-compose-hub.yml
  docker-compose.yml
Due: none

* Don't rely on exported consts in dynamically loaded modules. Instead pass the values in the service's constructor. * Do Init.run() before all tests
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/services/agentHost.ts
  yoga-server/src/services/service.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

* Encapsulated the EventBroker instance in the Server class (only one singleton left: Init) * First running test involving channels and events
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/services/eventBroker.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

finished the Signup integration test
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

backup
  frontend/src/graphql/mutations.graphql
  matrix/docker-compose.yml
  matrix/matrix-config/homeserver.yaml
  yoga-server/src/generated/prisma_client/index.ts
  yoga-server/src/generated/prisma_client/prisma-schema.ts
Due: frontend, yoga

iconbar left entered * need a list component for the icons to float down
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

*added left small sidebar for the icons
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
Due: frontend

* add list icon component to thin left sidebar
  frontend/src/app/app.component.css
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/lists/list-icon/list-icon.component.css
  frontend/src/app/lists/list-icon/list-icon.component.html
  frontend/src/app/lists/list-icon/list-icon.component.spec.ts
  frontend/src/app/lists/list-icon/list-icon.component.ts
Due: frontend

* split the chat navigation to the left navigation from the chat
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/chat/chat.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

* remove subline from header. todo: subline needs to be under the search
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

* Added a docker-compose.yml for prisma only.
  prisma/docker-compose.yml
Due: prisma

* added the top icon and bottom icon
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/lists/list-icon/list-icon.component.html
Due: frontend

Import foo + added a generated prisma_client.ts
  yoga-server/README.md
  yoga-server/src/api/mutations/entryApiMutations.ts
  yoga-server/src/api/mutations/roomApiMutations.ts
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/api/queries/commonQueries.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/api/queries/user/userQueries.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/queries/entries.ts
  yoga-server/src/data/queries/group.ts
  yoga-server/src/generated/prisma_client.ts
  yoga-server/src/helper/mailer.ts
  yoga-server/src/index.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/queries/getEntriesOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/queries.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/services/events/newEntry.ts
  yoga-server/src/services/profileService.ts
  yoga-server/src/services/service.ts
  yoga-server/src/statements/agentCanDelete.ts
  yoga-server/src/statements/agentCanSee.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
  yoga-server/src/utils.ts
Due: yoga

intermediate
  frontend/src/app/components/avatar/avatar.component.css
  frontend/src/app/components/avatar/avatar.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

Added test for signup. Still need tests for VerifyEmail and Login.
  yoga-server/src/data/mutations/userCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/services/service.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

Simple tests for signup and verify-email.
  yoga-server/src/services/agentHost.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

* reconfigured the app logo component * some small fixes on the icon bar
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/logo/logo.component.css
  frontend/src/app/components/logo/logo.component.html
  frontend/src/app/lists/list-icon/list-icon.component.css
  frontend/src/app/lists/list-icon/list-icon.component.html
Due: frontend

added LoginService test
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

Path conditions:
  frontend: any of: .gitlab-ci.yml, frontend/**/*
  prisma: any of: .gitlab-ci.yml, prisma/**/*
  yoga: any of: .gitlab-ci.yml, yoga-server/**/*
  db: any of: .gitlab-ci.yml, db/**/*
