Repository jitendradp/ABIS-OS-Beta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, prisma, yoga, db

.gitlab-ci.yml:

cache:
    key: $CI_COMMIT_REF_SLUG
    untracked: true
    paths:
        - node_modules/
        - dist/

stages:
    - build
    - deploy
#######################################################################################################################
frontend:
    image: gdhami/dind-compose:latest
    stage: build
    services:
        - docker:19.03.4-dind
    before_script:
    - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    script:
        - cd frontend
        - docker build . -t gdhami/frontend
        - docker push gdhami/frontend
    only:
        refs:
            - master
        changes:
            - .gitlab-ci.yml
            - frontend/**/*
    tags:
        - docker

#######################################################################################################################
prisma:
    image: gdhami/dind-compose:latest
    stage: build
    services:
        - docker:19.03.4-dind
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    script:
        - cd prisma
        - docker build . -t gdhami/prisma
        - docker push gdhami/prisma
    only:
        refs:
            - master
        changes:
            - .gitlab-ci.yml
            - prisma/**/*
    tags:
        - docker
#######################################################################################################################
yoga:
    image: gdhami/dind-compose:latest
    stage: build
    services:
        - docker:19.03.4-dind
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    script:
        - cd yoga-server
        - docker build . -t gdhami/yoga
        - docker push gdhami/yoga
    only:
        refs:
            - master
        changes:
            - .gitlab-ci.yml
            - yoga-server/**/*
    tags:
        - docker
#######################################################################################################################
db:
    image: gdhami/dind-compose:latest
    stage: build
    services:
        - docker:19.03.4-dind
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    script:
        - cd db
        - docker build . -t gdhami/db
        - docker push gdhami/db
    only:
        refs:
            - master
        changes:
            - .gitlab-ci.yml
            - db/**/*
    tags:
        - docker

#######################################################################################################################
compose:
    image: gdhami/dind-compose:latest
    stage: deploy
    services:
        - docker:19.03.4-dind
    script:
        - docker-compose -f docker-compose-hub.yml up
    only:
        refs:
            - master
    tags:
        - docker

added a second level to the left sidebar. Elevation: "base", "level1"
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
Due: frontend

create list component and list-items folder for the item types
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/list-items/list-chat/list-chat.component.css
  frontend/src/app/list-items/list-chat/list-chat.component.html
  frontend/src/app/list-items/list-chat/list-chat.component.ts
  frontend/src/app/list-items/list-chip/list-chip.component.css
  frontend/src/app/list-items/list-chip/list-chip.component.html
  frontend/src/app/list-items/list-chip/list-chip.component.ts
  frontend/src/app/list-items/list-contact/list-contact.component.css
  frontend/src/app/list-items/list-contact/list-contact.component.html
  frontend/src/app/list-items/list-contact/list-contact.component.ts
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.css
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.html
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.ts
  frontend/src/app/list-items/list-group/list-group.component.css
  frontend/src/app/list-items/list-group/list-group.component.html
  frontend/src/app/list-items/list-group/list-group.component.ts
  frontend/src/app/list-items/list-icon/list-icon.component.css
  frontend/src/app/list-items/list-icon/list-icon.component.html
  frontend/src/app/list-items/list-icon/list-icon.component.spec.ts
  frontend/src/app/list-items/list-icon/list-icon.component.ts
  frontend/src/app/list-items/list-member/list-member.component.css
  frontend/src/app/list-items/list-member/list-member.component.html
  frontend/src/app/list-items/list-member/list-member.component.ts
  frontend/src/app/list-items/list-profile/list-profile.component.css
  frontend/src/app/list-items/list-profile/list-profile.component.html
  frontend/src/app/list-items/list-profile/list-profile.component.ts
  frontend/src/app/list/list.component.css
  frontend/src/app/list/list.component.html
  frontend/src/app/list/list.component.spec.ts
  frontend/src/app/list/list.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

todo create new header type
  frontend/src/app/app.component.html
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
Due: frontend

reverse
  frontend/src/app/app.component.html
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
Due: frontend

consolidated the chat navigation and navigation
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.css
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/navigation/navigation.component.css
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

change application header dynamically.
  frontend/src/app/actions/ui/SetApplicationTitle.ts
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/app.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

change application header dynamically.
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

added home button
  frontend/src/app/actions/routes/Back.ts
  frontend/src/app/actions/routes/Home.ts
  frontend/src/app/app.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

consolidated the chat navigation and navigation
  frontend/src/app/app.component.html
Due: frontend

added dynamic back button for 'level1' components in the left sidebar
  frontend/src/app/actions/routes/Back.ts
  frontend/src/app/actions/routes/Home.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

open the chat on card-contact.component.ts click
  frontend/src/app/cards/card-contact/card-contact.component.html
  frontend/src/app/cards/card-contact/card-contact.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

open the chat on card-contact.component.ts click
  frontend/src/app/app.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

consolidated the chat navigation and navigation
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
Due: frontend

consolidated the chat navigation and navigation
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
Due: frontend

added a searchbar to the header
  frontend/src/app/components/input/input.component.html
Due: frontend

consolidated all left-sidebar contents to the same list type (list.component.ts)
  frontend/src/app/list-items/list-chat/list-chat.component.html
  frontend/src/app/list-items/list-chat/list-chat.component.ts
  frontend/src/app/list-items/list-contact/list-contact.component.html
  frontend/src/app/list-items/list-contact/list-contact.component.ts
  frontend/src/app/list-items/list-group/list-group.component.html
  frontend/src/app/list-items/list-group/list-group.component.ts
  frontend/src/app/list/ITypedElement.ts
  frontend/src/app/list/list.component.html
  frontend/src/app/list/list.component.ts
Due: frontend

open bottom sheet on searchbar click
  frontend/src/app/actions/ui/SetSidebarVisibility.ts
  frontend/src/app/app.component.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/input/input.component.html
  frontend/src/app/components/input/input.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

title bugfix
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

list public rooms from api in list-group.component.ts
  frontend/src/app/list-items/list-group/list-group.component.ts
  frontend/src/app/list/list.component.html
Due: frontend

updated yarn lock for versions
  yoga-server/yarn.lock
Due: yoga

Update README.md
  README.md
Due: none

chat loads group entries
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/cards/card-chat/card-chat.component.html
  frontend/src/app/cards/card-chat/card-chat.component.ts
  frontend/src/app/cards/card-contact/card-contact.component.ts
  frontend/src/app/chat/chat.component.html
  frontend/src/app/chat/chat.component.ts
  frontend/src/app/feeds/feed-message/feed-message.component.html
  frontend/src/app/feeds/feed-message/feed-message.component.ts
  frontend/src/app/list-items/list-group/list-group.component.ts
  frontend/src/app/list/list.component.html
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

added a chat-view for geoJsonFeatures
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-chat/card-chat.component.ts
  frontend/src/app/cards/card-map/card-map.component.css
  frontend/src/app/cards/card-map/card-map.component.html
  frontend/src/app/cards/card-map/card-map.component.ts
  frontend/src/app/feeds/feed-message/feed-message.component.html
  frontend/src/app/feeds/feed-message/feed-message.component.ts
  frontend/src/app/list/list.component.ts
  frontend/src/app/navigation/navigation.component.ts
  yoga-server/src/init/systemEntries/countriesGeoJson/Algeria.ts
Due: frontend, yoga

added the group name to the chat-view
  frontend/src/app/cards/card-chat/card-chat.component.html
  frontend/src/app/cards/card-chat/card-chat.component.ts
  frontend/src/app/chat/chat.component.html
  frontend/src/app/chat/chat.component.ts
  frontend/src/app/list/list.component.html
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

added JumpToMapPosition.ts action and wired it up with the card-map.component.ts
  frontend/src/app/actions/ui/JumpToMapPosition.ts
  frontend/src/app/cards/card-map/card-map.component.html
  frontend/src/app/cards/card-map/card-map.component.ts
  frontend/src/app/map/map.component.html
  frontend/src/app/map/map.component.ts
Due: frontend

added a "New" button to the group list
  frontend/src/app/actions/ui/SetContent.ts
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/actions/ui/SetVisibility.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-contact/card-contact.component.ts
  frontend/src/app/cards/card-profile/card-profile.component.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/list-items/list-group/list-group.component.html
  frontend/src/app/list-items/list-group/list-group.component.ts
  frontend/src/app/map/map.component.ts
  frontend/src/app/navigation/navigation.component.ts
  yoga-server/src/config.ts
Due: frontend, yoga

added a "New" button to the group list
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

* added a "map switcher". Map doesn't display a default on load anymore.. * regenerated client code
  frontend/src/app/actions/ui/JumpToMapPosition.ts
  frontend/src/app/cards/card-chat/card-chat.component.html
  frontend/src/app/cards/card-map/card-map.component.ts
  frontend/src/app/feeds/feed-message/feed-message.component.html
  frontend/src/app/feeds/feed-message/feed-message.component.ts
  frontend/src/app/map/map.component.ts
  prisma/generate.sh
  prisma/generated/prisma-client/index.ts
  prisma/generated/prisma-client/prisma-schema.ts
  yoga-server/src/generated/prisma_client.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/changePassword.ts
  yoga-server/src/init/singletonServices/createProfileService.ts
  yoga-server/src/init/singletonServices/createRoomService.ts
  yoga-server/src/init/singletonServices/inviteService.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/init/singletonServices/resetPassword.ts
  yoga-server/src/init/singletonServices/setPassword.ts
  yoga-server/src/init/systemEntries/countriesGeoJson2/Austria.ts
  yoga-server/src/init/systemEntries/countriesGeoJson2/Germany.ts
  yoga-server/src/init/systemEntries/countriesGeoJson2/Switzerland.ts
Due: frontend, prisma, yoga

renamed app-card-contact to app-card-list-entry
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-list-entry/card-list-entry.component.css
  frontend/src/app/cards/card-list-entry/card-list-entry.component.html
  frontend/src/app/cards/card-list-entry/card-list-entry.component.ts
  frontend/src/app/list/list.component.html
Due: frontend

stubbed the new list-item types
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-chat/card-chat.component.css
  frontend/src/app/cards/card-chat/card-chat.component.html
  frontend/src/app/cards/card-chat/card-chat.component.ts
  frontend/src/app/cards/card-message/card-message.component.html
  frontend/src/app/chat/chat.component.css
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/components/list/ITypedElement.ts
  frontend/src/app/components/list/list.component.css
  frontend/src/app/components/list/list.component.html
  frontend/src/app/components/list/list.component.spec.ts
  frontend/src/app/components/list/list.component.ts
  frontend/src/app/feeds/feed-message/feed-message.component.html
  frontend/src/app/feeds/feed-message/feed-message.component.ts
  frontend/src/app/feeds/feed-notification/feed-notification.component.css
  frontend/src/app/feeds/feed-notification/feed-notification.component.html
  frontend/src/app/feeds/feed-notification/feed-notification.component.ts
  frontend/src/app/feeds/feed-thread/feed-thread.component.css
  frontend/src/app/feeds/feed-thread/feed-thread.component.html
  frontend/src/app/feeds/feed-thread/feed-thread.component.ts
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.css
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.html
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/app/list-items/list-chat/list-chat.component.css
  frontend/src/app/list/list.component.html
  frontend/src/app/lists/list-chat/list-chat.component.css
  frontend/src/app/lists/list-chat/list-chat.component.html
  frontend/src/app/lists/list-chat/list-chat.component.ts
  frontend/src/app/lists/list-contact/list-contact.component.css
  frontend/src/app/lists/list-contact/list-contact.component.html
  frontend/src/app/lists/list-contact/list-contact.component.ts
  frontend/src/app/lists/list-group/list-group.component.css
  frontend/src/app/lists/list-group/list-group.component.html
  frontend/src/app/lists/list-group/list-group.component.ts
Due: frontend

always show public, my own and groups which I am a member of
  yoga-server/src/data/queries/group.ts
Due: yoga

cleanup phase huge
  frontend/src/app/app.module.ts
  frontend/src/app/list-items/card-list-entry/card-list-entry.component.css
  frontend/src/app/list-items/card-list-entry/card-list-entry.component.html
  frontend/src/app/list-items/card-list-entry/card-list-entry.component.ts
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.css
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.html
  frontend/src/app/list-items/list-dataspace/list-dataspace.component.ts
  frontend/src/app/list-items/list-icon/list-icon.component.css
  frontend/src/app/list-items/list-icon/list-icon.component.html
  frontend/src/app/list-items/list-icon/list-icon.component.spec.ts
  frontend/src/app/list-items/list-icon/list-icon.component.ts
  frontend/src/app/list-items/list-profile/list-profile.component.css
  frontend/src/app/list-items/list-profile/list-profile.component.html
  frontend/src/app/list-items/list-profile/list-profile.component.ts
Due: frontend

added file-upload
  yoga-server/package-lock.json
  yoga-server/package.json
  yoga-server/src/api/schema.graphql
  yoga-server/src/index.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/serverInit.ts
Due: yoga

validate sessionToken when requesting groups
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/api/queries/commonQueries.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/queries/getAgentOf.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/services/profileService.ts
Due: yoga

verify sessionToken in "verifySession"
  yoga-server/src/resolvers/mutations.ts
Due: yoga

tablua rasa
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-profile/card-profile.component.html
  frontend/src/app/dialogs/editor-account/editor-account.component.css
  frontend/src/app/dialogs/editor-account/editor-account.component.html
  frontend/src/app/dialogs/editor-account/editor-account.component.ts
  frontend/src/app/dialogs/editor-channel/editor-channel.component.css
  frontend/src/app/dialogs/editor-channel/editor-channel.component.html
  frontend/src/app/dialogs/editor-channel/editor-channel.component.ts
  frontend/src/app/dialogs/editor-group/editor-group.component.css
  frontend/src/app/dialogs/editor-group/editor-group.component.html
  frontend/src/app/dialogs/editor-group/editor-group.component.ts
  frontend/src/app/dialogs/editor-password/editor-password.component.css
  frontend/src/app/dialogs/editor-password/editor-password.component.html
  frontend/src/app/dialogs/editor-password/editor-password.component.ts
  frontend/src/app/dialogs/editor-profile/editor-profile.component.css
  frontend/src/app/dialogs/editor-profile/editor-profile.component.html
  frontend/src/app/dialogs/editor-profile/editor-profile.component.ts
Due: frontend

changed sidebar icons left
  frontend/src/app/actions/routes/Home.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend
