Repository jitendradp/ABIS-OS-Beta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, prisma, yoga, db

frontend:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd frontend
  - docker build . -t gdhami/frontend
  - docker push gdhami/frontend
  tags:
  - docker

prisma:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd prisma
  - docker build . -t gdhami/prisma
  - docker push gdhami/prisma
  tags:
  - docker

yoga:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd yoga-server
  - docker build . -t gdhami/yoga
  - docker push gdhami/yoga
  tags:
  - docker

db:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd db
  - docker build . -t gdhami/db
  - docker push gdhami/db
  tags:
  - docker

* added new action for sidebars
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/actions/ui/SetSidebarVisibility.ts
  frontend/src/app/actions/ui/sidebar/SetVisibility.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-profile/card-profile.component.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/lists/list-icon/list-icon.component.css
  frontend/src/app/lists/list-icon/list-icon.component.html
  frontend/src/app/map/map.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

* todo
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/actions/ui/SetSidebarVisibility.ts
Due: frontend

* added elevation parameters
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-profile/card-profile.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/map/map.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

* patched yoga yarn version numbers
  yoga-server/yarn.lock
Due: yoga

Update README.md
  README.md
Due: none

Added a basic MemoryChannel (not yet complete)
  prisma/datamodel.prisma
  yoga-server/src/api/mutations/channelApiMutations.ts
  yoga-server/src/api/mutations/roomApiMutations.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/queries/entries.ts
  yoga-server/src/generated/prisma-schema.ts
  yoga-server/src/generated/prisma_client.ts
  yoga-server/src/init.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: prisma, yoga

Got the memory channel working.
  yoga-server/src/init.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/statements/agentCanSee.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: yoga

fixed an angular compiler error in switchProfile
  frontend/src/app/dialogs/switch-profile/switch-profile.component.html
  frontend/src/app/dialogs/switch-profile/switch-profile.component.ts
Due: frontend

dave
  frontend/src/app/actions/ChangeAction.ts
  frontend/src/app/actions/routes/Signup.ts
  frontend/src/app/actions/routes/SwitchProfile.ts
  frontend/src/app/app.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  package-lock.json
Due: frontend

added schemas for common actions
  yoga-server/src/init/contentEncodings/createProfile.ts
  yoga-server/src/init/contentEncodings/createRoom.ts
  yoga-server/src/init/contentEncodings/editUser.ts
  yoga-server/src/init/contentEncodings/invite.ts
  yoga-server/src/init/contentEncodings/login.ts
  yoga-server/src/init/contentEncodings/resetPassword.ts
  yoga-server/src/init/contentEncodings/setPassword.ts
  yoga-server/src/init/contentEncodings/signup.ts
Due: yoga

implemented "change-password"
  frontend/src/app/app.module.ts
  frontend/src/app/pages/system/change-password/change-password.component.css
  frontend/src/app/pages/system/change-password/change-password.component.html
  frontend/src/app/pages/system/change-password/change-password.component.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/init/contentEncodings/changePassword.ts
  yoga-server/src/init/singletonServices/changePassword.ts
  yoga-server/src/queries/getUserOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: frontend, yoga

implemented "reset-password"
  frontend/src/app/app.module.ts
  frontend/src/app/dialogs/reset-password/reset-password.component.css
  frontend/src/app/dialogs/reset-password/reset-password.component.html
  frontend/src/app/dialogs/reset-password/reset-password.component.ts
  frontend/src/app/dialogs/switch-profile/switch-profile.component.css
  frontend/src/app/dialogs/switch-profile/switch-profile.component.html
  frontend/src/app/pages/system/reset-password/reset-password.component.css
  frontend/src/app/pages/system/reset-password/reset-password.component.html
  frontend/src/app/pages/system/reset-password/reset-password.component.ts
  frontend/src/app/pages/system/set-password/set-password.component.css
  frontend/src/app/pages/system/set-password/set-password.component.html
  frontend/src/app/pages/system/set-password/set-password.component.ts
  yoga-server/src/init.ts
  yoga-server/src/init/contentEncodings/setPassword.ts
  yoga-server/src/init/singletonServices/resetPassword.ts
  yoga-server/src/init/singletonServices/setPassword.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
Due: frontend, yoga

implemented "create-profile"
  frontend/src/app/app.module.ts
  frontend/src/app/pages/system/create-profile/create-profile.component.css
  frontend/src/app/pages/system/create-profile/create-profile.component.html
  frontend/src/app/pages/system/create-profile/create-profile.component.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/init/contentEncodings/setPassword.ts
  yoga-server/src/init/singletonServices/createProfileService.ts
  yoga-server/src/init/singletonServices/setPassword.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/services/directService.ts
  yoga-server/src/tests/integration/systemUsers.spec.ts
Due: frontend, yoga

implemented "create-room"
  frontend/src/app/app.module.ts
  frontend/src/app/pages/system/create-room/create-room.component.css
  frontend/src/app/pages/system/create-room/create-room.component.html
  frontend/src/app/pages/system/create-room/create-room.component.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/createRoomService.ts
Due: frontend, yoga

stubbed the 'invite'-service
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/chat/invite/invite.component.css
  frontend/src/app/chat/invite/invite.component.html
  frontend/src/app/chat/invite/invite.component.ts
  frontend/src/app/pages/system/invite/invite.component.css
  frontend/src/app/pages/system/invite/invite.component.html
  frontend/src/app/pages/system/invite/invite.component.ts
  yoga-server/src/init.ts
  yoga-server/src/init/singletonServices/changePassword.ts
  yoga-server/src/init/singletonServices/createProfileService.ts
  yoga-server/src/init/singletonServices/createRoomService.ts
  yoga-server/src/init/singletonServices/inviteService.ts
  yoga-server/src/init/singletonServices/resetPassword.ts
  yoga-server/src/init/singletonServices/setPassword.ts
  yoga-server/src/resolvers/mutations.ts
Due: frontend, yoga

implemented "AgentCreate.membership"
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init/singletonServices/inviteService.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/statements/userHas.ts
Due: yoga

removed api mutations which are now handled service dialogs
  yoga-server/src/api/schema.graphql
  yoga-server/src/resolvers/mutations.ts
Due: yoga

removed unused inputs in singleton services
  yoga-server/src/init/singletonServices/changePassword.ts
  yoga-server/src/init/singletonServices/createProfileService.ts
  yoga-server/src/init/singletonServices/createRoomService.ts
  yoga-server/src/init/singletonServices/inviteService.ts
  yoga-server/src/init/singletonServices/resetPassword.ts
  yoga-server/src/init/singletonServices/setPassword.ts
  yoga-server/src/init/singletonServices/signupService.ts
  yoga-server/src/init/singletonServices/verifyEmailService.ts
Due: yoga

cleanup some css
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/logo/logo.component.html
Due: frontend

todo: combine the list icon to one component with the specific ui service
  frontend/src/app/app.component.html
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

intermediate - cleaning up the frontend component positions
  frontend/src/app/app.component.html
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

check ui
  frontend/src/app/app.component.css
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/feeds/feed-notification/feed-notification.component.html
  frontend/src/app/lists/list-icon/list-icon.component.css
  frontend/src/app/lists/list-icon/list-icon.component.html
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
Due: frontend

ok
  frontend/src/app/app.module.ts
  frontend/src/app/lists/list-icon/list-icon.component.html
Due: frontend

change sidebar left layout
  frontend/src/app/app.component.css
Due: frontend

change sidebar left layout
  prisma/generated/prisma-client/index.ts
  prisma/generated/prisma-client/prisma-schema.ts
Due: prisma

change sidebar left layout
  frontend/src/app/components/avatar/avatar.component.css
  frontend/src/app/components/avatar/avatar.component.html
  frontend/src/app/components/avatar/avatar.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/logo/logo.component.html
Due: frontend

* re-configured the endpoint to local.abis-cloud.com * added INestedEvent
  frontend/src/app/actions/INestedEvent.ts
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/actions/ui/SetSidebarVisibility.ts
  frontend/src/app/apolloConfig.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/services/user.service.ts
  yoga-server/src/api/schema.graphql
Due: frontend, yoga

change sidebar left layout
  frontend/src/app/components/avatar/avatar.component.html
  frontend/src/app/components/logo/logo.component.html
Due: frontend

* change sidebar content dynamically
  frontend/src/app/actions/NestedAction.ts
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

* change sidebar content dynamically
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

change sidebar left layout
  frontend/src/app/app.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
Due: frontend

change sidebar left layout
  frontend/src/app/components/iconbar/iconbar.component.css
Due: frontend

bound click event to open the sidebar on the 'a' element instead of the icon
  frontend/src/app/components/iconbar/iconbar.component.html
Due: frontend

fixed layout issue
  frontend/src/app/actions/ui/SetSidebarContent.ts
  frontend/src/app/actions/ui/SetSidebarVisibility.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/cards/card-profile/card-profile.component.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/map/map.component.ts
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.html
  frontend/src/app/navigation/chat-navigation/chat-navigation.component.ts
  frontend/src/app/navigation/navigation.component.ts
Due: frontend

change sidebar left layout
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/lists/list-chat/list-chat.component.html
  frontend/src/app/lists/list-group/list-group.component.html
Due: frontend

Path conditions:
  frontend: any of: .gitlab-ci.yml, frontend/**/*
  prisma: any of: .gitlab-ci.yml, prisma/**/*
  yoga: any of: .gitlab-ci.yml, yoga-server/**/*
  db: any of: .gitlab-ci.yml, db/**/*
