Repository jitendradp/ABIS-OS-Beta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, prisma, yoga, db

frontend:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd frontend
  - docker build . -t gdhami/frontend
  - docker push gdhami/frontend
  tags:
  - docker

prisma:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd prisma
  - docker build . -t gdhami/prisma
  - docker push gdhami/prisma
  tags:
  - docker

yoga:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd yoga-server
  - docker build . -t gdhami/yoga
  - docker push gdhami/yoga
  tags:
  - docker

db:
  image: gdhami/dind-compose:latest
  stage: build
  services:
  - docker:19.03.4-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd db
  - docker build . -t gdhami/db
  - docker push gdhami/db
  tags:
  - docker

added a "onAfterReverseChannelCreated"-hook for services in yoga-server
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init/singletonServices/createRoomService.ts
  yoga-server/src/init/singletonServices/inviteService.ts
  yoga-server/src/init/singletonServices/loginService.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/services/directService.ts
Due: yoga

added a "hideEditor" flag that can be used to hide the editor if no schema is present.
  frontend/src/app/services/service-dialog/service-dialog.component.html
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
Due: frontend, yoga

added page navigation on the footer iconbar
  frontend/src/app/app.module.ts
  frontend/src/app/components/avatar/avatar.component.html
  frontend/src/app/components/avatar/avatar.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/feed/feed.component.css
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/list-items/card-list-entry/card-list-entry.component.ts
  frontend/src/app/pages/map/cluster-popup/cluster-popup.component.css
  frontend/src/app/pages/map/cluster-popup/cluster-popup.component.html
  frontend/src/app/pages/map/cluster-popup/cluster-popup.component.ts
  frontend/src/app/pages/map/earthquakes.json
  frontend/src/app/pages/map/earthquakes2.json
  frontend/src/app/pages/map/map.component.css
  frontend/src/app/pages/map/map.component.html
  frontend/src/app/pages/map/map.component.ts
Due: frontend

added a couch icon :-) for the room
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

improved map performance by setting all geoJson objects in bulk.
  frontend/src/app/map/map.component.ts
Due: frontend

forgot to add the profile component
  frontend/src/app/pages/profile/profile.component.css
  frontend/src/app/pages/profile/profile.component.html
  frontend/src/app/pages/profile/profile.component.spec.ts
  frontend/src/app/pages/profile/profile.component.ts
Due: frontend

renamed 2 rooms
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/list-items/card-list-entry/card-list-entry.component.ts
Due: frontend

changed iconlogic
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/logo/logo.component.html
Due: frontend

added latest page
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/pages/latest/latest.component.css
  frontend/src/app/pages/latest/latest.component.html
  frontend/src/app/pages/latest/latest.component.spec.ts
  frontend/src/app/pages/latest/latest.component.ts
Due: frontend

working on profile - intermediate
  frontend/src/app/cards/card-profile/card-profile.component.css
  frontend/src/app/cards/card-profile/card-profile.component.html
  frontend/src/app/cards/card-profile/card-profile.component.ts
  frontend/src/app/pages/profile/profile.component.html
Due: frontend

added "show in main view"
  frontend/src/app/actions/routes/Detail.ts
  frontend/src/app/actions/ui/SetVisibility.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/navigation/navigation.component.ts
  frontend/src/app/pages/detail/detail.component.css
  frontend/src/app/pages/detail/detail.component.html
  frontend/src/app/pages/detail/detail.component.ts
Due: frontend

added "show in main view"
  frontend/src/app/pages/detail/detail.component.ts
Due: frontend

added "show in main view"
  frontend/src/app/app.component.ts
  frontend/src/app/pages/detail/detail.component.ts
Due: frontend

fixed the main page height
  frontend/src/app/app.component.css
  frontend/src/app/feed/feed.component.css
  frontend/src/app/feed/feed.component.html
Due: frontend

allow to add arbitary objects to groups
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/create-entry-editor/create-entry-editor.component.css
  frontend/src/app/components/create-entry-editor/create-entry-editor.component.html
  frontend/src/app/components/create-entry-editor/create-entry-editor.component.ts
  frontend/src/app/components/json-schema-editor/json-schema-editor.component.css
  frontend/src/app/components/json-schema-editor/json-schema-editor.component.html
  frontend/src/app/components/json-schema-editor/json-schema-editor.component.ts
  frontend/src/app/components/service-dialog/service-dialog.component.css
  frontend/src/app/components/service-dialog/service-dialog.component.html
  frontend/src/app/components/service-dialog/service-dialog.component.ts
  frontend/src/app/feed/feed.component.css
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/services/user.service.ts
  yoga-server/src/init/contentEncodings/textMessage.ts
Due: frontend, yoga

added the intelligent search idea
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

show TextMessage entries
  frontend/src/app/components/list/list.component.html
Due: frontend

changed abis logo wrapper style
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/iconbar/iconbar.component.css
  frontend/src/app/components/iconbar/iconbar.component.html
  frontend/src/app/components/logo/logo.component.css
Due: frontend

changed abis logo wrapper style
  frontend/src/app/components/avatar/avatar.component.css
Due: frontend

auto-updating the feed componeent on new entries
  frontend/src/app/actions/newChannelEvent.ts
  frontend/src/app/actions/newEntryEvent.ts
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

changed abis logo wrapper style
  frontend/src/app/components/avatar/avatar.component.css
  frontend/src/app/components/logo/logo.component.css
Due: frontend

changed abis logo wrapper style
  frontend/src/app/components/iconbar/iconbar.component.css
Due: frontend

implemented the yoga-api addTag method.
  frontend/codegen.yml
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.html
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/mutations.graphql
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/statements/agentCanSee.ts
Due: frontend, yoga

make header title fixed
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
Due: frontend

removed the "Location" type from the database model
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  prisma/datamodel.prisma
  yoga-server/src/api/schema.graphql
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/statements/agentCanSee.ts
Due: frontend, prisma, yoga

small stuff on sidebarleft
  frontend/src/app/app.component.css
  frontend/src/app/components/header/header.component.css
Due: frontend

removed the "Location" type from the database model
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/queries.graphql
  yoga-server/src/api/Profile.ts
  yoga-server/src/api/queries/user/userQueries.ts
  yoga-server/src/resolvers/all.ts
Due: frontend, yoga

added tagAggregates
  frontend/src/app/components/list/list.component.html
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.html
  yoga-server/src/api/queries/groups/groupQueries2.ts
Due: frontend, yoga

intermediate
  frontend/src/app/app.component.html
Due: frontend

added bookmark icon to the left sidebar
  frontend/src/app/components/iconbar/iconbar.component.ts
Due: frontend

added tagAggregates + newTagEvent.ts notification + auto-update of geoJson-entry.component's like count
  frontend/src/app/actions/newTagEvent.ts
  frontend/src/app/components/list/list.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.html
  frontend/src/app/list-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/app/services/user.service.ts
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/subscriptions.graphql
  yoga-server/src/api/schema.graphql
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/services/eventBroker.ts
  yoga-server/src/services/profileService.ts
Due: frontend, yoga

restructure the list topic in frontend
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/iconbar/iconbar.component.ts
  frontend/src/app/lists/ITypedElement.ts
  frontend/src/app/lists/feed-items/card-list-entry/card-list-entry.component.css
  frontend/src/app/lists/feed-items/card-list-entry/card-list-entry.component.html
  frontend/src/app/lists/feed-items/card-list-entry/card-list-entry.component.ts
  frontend/src/app/lists/feed-items/geoJson-entry/geoJson-entry.component.css
  frontend/src/app/lists/feed-items/geoJson-entry/geoJson-entry.component.html
  frontend/src/app/lists/feed-items/geoJson-entry/geoJson-entry.component.ts
  frontend/src/app/lists/feed-items/list-chip/list-chip.component.css
  frontend/src/app/lists/feed-items/list-chip/list-chip.component.html
  frontend/src/app/lists/feed-items/list-chip/list-chip.component.ts
  frontend/src/app/lists/feed-items/list-member/list-member.component.css
  frontend/src/app/lists/feed-items/list-member/list-member.component.html
  frontend/src/app/lists/feed-items/list-member/list-member.component.ts
  frontend/src/app/lists/feed/feed.component.css
  frontend/src/app/lists/feed/feed.component.html
  frontend/src/app/lists/feed/feed.component.ts
  frontend/src/app/lists/list-chat/list-chat.component.css
  frontend/src/app/lists/list.component.css
  frontend/src/app/lists/list.component.html
  frontend/src/app/lists/list.component.spec.ts
  frontend/src/app/lists/list.component.ts
  frontend/src/app/lists/preview-items/list-chat/list-chat.component.css
  frontend/src/app/lists/preview-items/list-chat/list-chat.component.html
  frontend/src/app/lists/preview-items/list-chat/list-chat.component.ts
  frontend/src/app/lists/preview-items/list-contact/list-contact.component.css
  frontend/src/app/lists/preview-items/list-contact/list-contact.component.html
  frontend/src/app/lists/preview-items/list-contact/list-contact.component.ts
  frontend/src/app/lists/preview-items/list-group/list-group.component.css
  frontend/src/app/lists/preview-items/list-group/list-group.component.html
  frontend/src/app/lists/preview-items/list-group/list-group.component.ts
Due: frontend

...
  frontend/src/app/components/list/list.component.html
  yoga-server/.gitignore
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/init.ts
  yoga-server/src/init/contentEncodings/event.ts
  yoga-server/src/init/systemEntries/allEvents.sql
  yoga-server/src/init/systemEntries/countriesGeoJson/Yemen.ts
Due: frontend, yoga

create the mms purchaser encoding type
  yoga-server/src/init/contentEncodings/mms_purchaser.ts
Due: yoga

create the mms bank account encoding type
  yoga-server/src/init/contentEncodings/mms_bankAccount.ts
  yoga-server/src/init/contentEncodings/mms_purchaser.ts
Due: yoga

added mms_cashPosition with layout need testing
  yoga-server/src/init/contentEncodings/mms_cashPosition.ts
Due: yoga

added mms_budgeting with layout need testing
  yoga-server/src/init/contentEncodings/mms_budgeting.ts
Due: yoga

Path conditions:
  frontend: any of: .gitlab-ci.yml, frontend/**/*
  prisma: any of: .gitlab-ci.yml, prisma/**/*
  yoga: any of: .gitlab-ci.yml, yoga-server/**/*
  db: any of: .gitlab-ci.yml, db/**/*
