Repository jitendradp/ABIS-OS-Beta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, prisma, yoga

Path conditions:
  frontend: any of: frontend/**/*
  prisma: any of: prisma/**/*
  yoga: any of: yoga-server/**/*

fuckup - wrong EventBroker
  frontend/src/app/services/user.service.ts
Due: frontend

fixed some bugs (mixed up variables) and typos
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/queries/group.ts
  yoga-server/src/generated/index.ts
  yoga-server/src/generated/prisma-schema.ts
  yoga-server/src/helper/helper.ts
  yoga-server/src/queries/getAgentOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/services/signupService.ts
Due: yoga

* added "withCredentials: true" to the apollo client configuration (for cookie handling) * adopted the service-dialog.component.ts to the two way channel
  frontend/src/app/apolloConfig.ts
  frontend/src/app/pages/system/register/register.component.html
  frontend/src/app/pages/system/signin/signin.component.html
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

disabled the apollo client cache
  frontend/src/app/apolloConfig.ts
Due: frontend

Integration von prisma-client in yoga-server für Dockercompose deployment realisiert und ein paar kleine Pfadfehler usw. angepasst.
  docker-compose.yml
  prisma/Dockerfile
  prisma/package.json
  yoga-server/Dockerfile
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/generated/index.ts
  yoga-server/src/generated/prisma-schema.ts
Due: prisma, yoga

Ab jetzt werden prisma und yoga zusammen aus docker-compose gebaut
  .gitlab-ci.yml
Due: none

Kleiner Zeichenfehler behoben
  .gitlab-ci.yml
Due: none

Changes to paths for calling generated prisma_client
  docker-compose.yml
  yoga-server/src/api/Profile.ts
  yoga-server/src/api/contentEncodings.ts
  yoga-server/src/api/mutations/channelApiMutations.ts
  yoga-server/src/api/mutations/entryApiMutations.ts
  yoga-server/src/api/mutations/roomApiMutations.ts
  yoga-server/src/api/mutations/userApiMutations.ts
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/api/queries/commonQueries.ts
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/api/queries/user/userQueries.ts
  yoga-server/src/api/types/channel.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/mutations/session.ts
  yoga-server/src/data/mutations/user.ts
  yoga-server/src/data/mutations/userCreate.ts
  yoga-server/src/data/queries/entries.ts
  yoga-server/src/data/queries/group.ts
  yoga-server/src/data/queries/memberships.ts
  yoga-server/src/data/queries/profile.ts
  yoga-server/src/data/queries/user.ts
  yoga-server/src/helper/mailer.ts
  yoga-server/src/index.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/queries/getAgentOf.ts
  yoga-server/src/queries/getEntriesOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/queries.ts
  yoga-server/src/serverInit.ts
  yoga-server/src/services/agentHost.ts
  yoga-server/src/services/events/newEntry.ts
  yoga-server/src/services/service.ts
  yoga-server/src/services/signupService.ts
  yoga-server/src/statements/agentCanCreate.ts
  yoga-server/src/statements/agentCanDelete.ts
  yoga-server/src/statements/agentCanSee.ts
  yoga-server/src/statements/agentOwns.ts
  yoga-server/src/statements/userHas.ts
  yoga-server/src/statements/userOwns.ts
  yoga-server/src/utils.ts
Due: yoga

Revert "Changes to paths for calling generated prisma_client" This reverts commit d7621e15
  .gitlab-ci.yml
  docker-compose.yml
  yoga-server/src/api/queries/groups/groupQueries2.ts
  yoga-server/src/generated/prisma-schema.ts
  yoga-server/src/index.ts
  yoga-server/src/serverInit.ts
  yoga-server/src/utils.ts
Due: yoga

Revert "Changes to paths for calling generated prisma_client" This reverts commit d7621e15
  yoga-server/src/api/mutations/entryApiMutations.ts
  yoga-server/src/api/mutations/roomApiMutations.ts
  yoga-server/src/api/mutations/userApiMutations.ts
  yoga-server/src/api/queries/agent/agentQueries.ts
  yoga-server/src/api/queries/commonQueries.ts
  yoga-server/src/api/queries/user/userQueries.ts
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/data/mutations/session.ts
  yoga-server/src/data/mutations/user.ts
  yoga-server/src/data/queries/entries.ts
  yoga-server/src/data/queries/group.ts
  yoga-server/src/helper/mailer.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/queries/getEntriesOf.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/queries.ts
  yoga-server/src/services/events/newEntry.ts
  yoga-server/src/services/signupService.ts
  yoga-server/src/statements/agentCanDelete.ts
  yoga-server/src/statements/agentCanSee.ts
Due: yoga

Minor fix
  docker-compose.yml
Due: none

Updated gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab-ci.yml-Backup
Due: none

Updated gitlab-ci.yml - Turned off cache in gitlab build process
  .gitlab-ci.yml
Due: none

Regenerated interface files
  yoga-server/src/generated/prisma-schema.ts
Due: yoga

Regenerated interface files
  yoga-server/Dockerfile
Due: yoga

Added prisma_client folder again
  yoga-server/src/generated/prisma_client/index.ts
  yoga-server/src/generated/prisma_client/prisma-schema.ts
Due: yoga

* Added json schemas for 'Error' and 'Continuation' entries. * Refactored and commented the service-dialog.component.ts
  frontend/src/app/pages/system/register/register.component.html
  frontend/src/app/pages/system/signin/signin.component.html
  frontend/src/app/services/service-dialog/service-dialog.component.html
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  frontend/src/app/services/user.service.ts
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/subscriptions.graphql
  yoga-server/src/api/schema.graphql
  yoga-server/src/contentEncodings.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/schemas/siignup.jsonschema
  yoga-server/src/serverInit.ts
  yoga-server/src/services/signupService.ts
Due: frontend, yoga

fixed small import error from merge
  yoga-server/src/contentEncodings.ts
Due: yoga

* added new service implementation "VerifyEmailService" * implemented first continuation from "SignupService" to "VerifyEmailService"
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/subscriptions.graphql
  yoga-server/src/config.ts
  yoga-server/src/generated/index.ts
  yoga-server/src/generated/prisma_client/index.ts
  yoga-server/src/serverInit.ts
  yoga-server/src/services/agentHost.ts
  yoga-server/src/services/signupService.ts
  yoga-server/src/services/verifyEmailService.ts
Due: frontend, yoga

* renamed "signin" to "login" and "register" to "signup" * cleaned both components from now unnecessary stuff
  frontend/src/app/app.module.ts
  frontend/src/app/pages/system/access/access.component.html
  frontend/src/app/pages/system/login/login.component.css
  frontend/src/app/pages/system/login/login.component.html
  frontend/src/app/pages/system/login/login.component.spec.ts
  frontend/src/app/pages/system/login/login.component.ts
  frontend/src/app/pages/system/register/register.component.ts
  frontend/src/app/pages/system/signin/signin.component.ts
  frontend/src/app/pages/system/signup/signup.component.css
  frontend/src/app/pages/system/signup/signup.component.html
  frontend/src/app/pages/system/signup/signup.component.spec.ts
  frontend/src/app/pages/system/signup/signup.component.ts
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

Merged changes from dev
  yoga-server/src/contentEncodings.ts
Due: yoga

highlight countries on the map on-hover
  frontend/src/app/pages/map/map.component.html
  frontend/src/app/pages/map/map.component.ts
  frontend/src/generated/abis-api.ts
  yoga-server/src/resolvers/queries.ts
Due: frontend, yoga

* fixed a bug in the userService that prevented the correct loading of pages other than the frontpage on first visit.
  frontend/src/app/pages/map/map.component.ts
  frontend/src/app/services/user.service.ts
Due: frontend

intermediate commit: * started to implement a bootstrapper that initializes some stuff before the actual application is loaded * added a "NewRoom" event
  bootstrapper/abis.ts
  bootstrapper/codegen.yml
  bootstrapper/graphql/mutations.graphql
  bootstrapper/graphql/queries.graphql
  bootstrapper/graphql/subscriptions.graphql
  frontend/src/app/dialogs/editor-group/editor-group.component.ts
  frontend/src/app/lists/list-group/list-group.component.ts
  frontend/src/app/services/channel.service.ts
  frontend/src/app/services/routeGuard.ts
  frontend/src/app/services/service-dialog/service-dialog.component.ts
  frontend/src/app/services/systemAgents.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/src/graphql/subscriptions.graphql
  yoga-server/src/api/schema.graphql
  yoga-server/src/data/mutations/agentCreate.ts
  yoga-server/src/queries/findAgentsThatSeeThis.ts
  yoga-server/src/resolvers/mutations.ts
  yoga-server/src/resolvers/subscriptions.ts
  yoga-server/src/serverInit.ts
  yoga-server/src/services/eventBroker.ts
  yoga-server/src/services/loginService.ts
  yoga-server/src/services/profileService.ts
Due: frontend, yoga

fixed a build error (wrong or missing variables in angular templates)
  frontend/src/app/cards/card-profile/card-profile.component.html
  frontend/src/app/dialogs/switch-profile/switch-profile.component.html
  frontend/src/app/dialogs/switch-profile/switch-profile.component.ts
Due: frontend

* Configured the graphql-codegen for the bootstrapper * Removed a redundant type from yoga's graphql schema
  bootstrapper/codegen.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/generated/abis-api.schema.json
  frontend/src/generated/abis-api.ts
  frontend/tsconfig.json
  yoga-server/src/api/schema.graphql
Due: frontend, yoga

* Configured the graphql-codegen for the bootstrapper * Removed a redundant type from yoga's graphql schema * Added the generated bootstrapper client code
  bootstrapper/package-lock.json
  bootstrapper/package.json
  bootstrapper/src/generated/abis-api.schema.json
  bootstrapper/src/generated/abis-api.ts
Due: none

temporarily allowed more budget (+1M)
  frontend/angular.json
Due: frontend

added docker build+push and fixed error in frontend dockerfile
  .gitlab-ci-compose.yml
  .gitlab-ci.yml
  frontend/Dockerfile
  kubernetes/database/deployment.yml
  kubernetes/database/pvc.yaml
  kubernetes/namespace.yaml
Due: frontend

changed docker login command
  .gitlab-ci.yml
Due: none

changed hostnames to container_names to test for deployment. added another file docker-compose-hub.yml to test the built docker images from docker hub
  docker-compose-hub.yml
  frontend/Dockerfile
  frontend/codegen.yml
  frontend/src/app/apolloConfig.ts
  kubernetes/database/deployment.yml
  yoga-server/src/config.ts
  yoga-server/src/generated/index.ts
  yoga-server/src/generated/prisma_client/index.ts
Due: frontend, yoga

Added docker-compose -f docker-compose-hub.yml up to test the deployment after the build process
  .gitlab-ci.yml
Due: none

Adapted gitlab-ci.yml for independent parallell builds and separated deploy in later step
  .gitlab-ci.yml
Due: none

fixed minor error
  docker-compose-hub.yml
Due: none

build on all changes
  .gitlab-ci.yml
Due: none

Adapted readme to the changes. removed frontend from local docker-compose.yml
  README.md
  docker-compose.yml
Due: none

Adapted readme to the changes. Added generate.bat for Windows
  README.md
  docker-compose-hub.yml
  docker-compose.yml
  prisma/generate.bat
  prisma/generated/prisma-client/index.ts
  prisma/generated/prisma-client/prisma-schema.ts
  yoga-server/src/generated/prisma-client/index.ts
  yoga-server/src/generated/prisma-client/prisma-schema.ts
Due: prisma, yoga

Adapted generate.bat to resolve the build error
  README.md
  prisma/generate.bat
  prisma/generate.sh
  yoga-server/src/generated/prisma_client/index.ts
  yoga-server/src/generated/prisma_client/prisma-schema.ts
Due: prisma, yoga
